.idea
.venv
__pycache__/
*.pyc
.experimental_playground
*.egg-info

/src/orion_catcher/config.env
/src/dagster_service/dist/
/src/dagster_service/build/
/.actrc
/src/dcat_converter/collection.json
/qodana.yaml
/docs/NGSI Entities/windows_downloader.py
/docs/NGSI Entities/config.yml